.full-width .et_pb_row, .full-width {
    padding: 0;
    margin: 0;
    max-width: 100%;
    width: 100%;
}
.custom-mega #mega-menu-wrap-primary-menu,
.custom-mega .et_pb_menu__menu,
.custom-mega .et-menu-nav{
    width: 100%;
}
.custom-mega #mega-menu-wrap-primary-menu #mega-menu-primary-menu input, 
.custom-mega #mega-menu-wrap-primary-menu #mega-menu-primary-menu img{
    max-width: 200px !important;
}
.custom-right .aws-container{
    float: left;
}
.custom-right .cart-count-display{
    float: right;
}
