/*
Theme Name: Divy
Description: Divy Theme WordPress
Template: Divi
*/

.cart-count-display, #custom-homepage #main-content .container:before{
    display: inline-block;
    float: none;
}

.et_header_style_centered nav#top-menu-nav{
    display : block
}
